Django>=4.2,<5.1

# فقط اگر می‌خواهید از MySQL استفاده کنید این خط را از حالت کامنت خارج و نصب کنید:
# mysqlclient>=2.2

# جایگزین mysqlclient برای ویندوز (نیازی به کامپایلر C ندارد و نصبش راحت‌تره):
# pymysql>=1.1
